{% extends 'home.html' %}

{% block content %}

<div class="main-body border-top border-bottom">
    <div class="row main-row">
        <div id="side-col" class="col-2 border-end mt-5 mb-5 ms-3 ">
            <p class="mb-3 ms-4 fs-5 fw-semibold border-bottom pb-3">CLLCTIVLY INITIATIVES</p>
            <menu>
                <div class="row my-3 fw-medium">Connect Cohort</div>
                <div class="row my-3 fw-medium">Black Futures Micro-Grant</div>
                <div class="row my-3 fw-medium">Cllctivgive</div>
                <div class="row my-3 fw-medium">Black Futures Giving Circle</div>
                <div class="row my-3 fw-medium">Baltimore black business quest</div>
                <div class="row my-3 fw-medium">28 days of black future</div>
                <div class="row my-3 fw-medium">change makers awards</div>
                <div class="row my-3 fw-medium">Initiative x</div>
                <div class="row my-3 fw-medium">Initiative y</div>
            </menu>
        </div>
        <div class="col-8 ps-5">
            <div class="row mt-5 d-flex gap-3 secondary-row">
                <div class="col">
                    <p class="mb-3  fs-5 fw-semibold border-bottom pe-3 pb-3">DIRECTORIES</p>
                    <div class="row ms-1 my-3 mt-2 fw-medium">Organisations</div>
                    <div class="row ms-1 my-3 fw-medium">People</div>
                    <div class="row ms-1 my-3 fw-medium">Partner Foundations</div>
                    <div class="row ms-1 my-3 fw-medium">Shared resources</div>
                </div>
                <div class="col">
                    <p class="mb-3  fs-5 fw-semibold border-bottom pb-3">EVENTS</p>
                    <div class="row ms-1 my-3 mt-2 fw-medium">Event Calendar</div>
                    <div class="row ms-1 my-3 fw-medium">Events powered by cllctivly</div>
                    <div class="row ms-1 my-3 fw-medium">View all Events</div>
                    <!-- <div class="row ms-1 my-3">AAA</div> -->
                    <!-- <div class="row ms-1 my-3">AAA</div> -->
                    <!-- <div class="row ms-1 my-3">AAA</div> -->
                    <!-- <div class="row ms-1 my-3">AAA</div> -->
                    <!-- <div class="row ms-1 my-3">AAA</div> -->
                </div>
                <div class="col">
                    <p class="mb-3  fs-5 fw-semibold border-bottom pb-3">COMMUNITY FORUM</p>
                    <div class="row ms-1 my-3 mt-2 fw-medium">Feed</div>
                    <div class="row ms-1 my-3 fw-medium">News and updates</div>
                    <div class="row ms-1 my-3 fw-medium">Discussion groups</div>
                </div>
            </div>
            <div class="row my-5  d-flex gap-3 secondary-row">
                <div class="col">
                    <p class="mb-3  fs-5 fw-semibold border-bottom pb-3">OPPORTUNITIES</p>
                    <div class="row ms-1 my-3 fw-medium">Job opportunities</div>
                    <div class="row ms-1 my-3 fw-medium">Volunteering opportunities</div>
                    <div class="row ms-1 my-3 fw-medium">Collaboration opportunities</div>
                    <div class="row ms-1 my-3 fw-medium">Partnerships</div>
                    <div class="row ms-1 my-3 fw-medium">Fundraising</div>
                </div>
                <div class="col">
                    <p class="mb-3   fs-5 fw-semibold border-bottom pb-3">CONTENT</p>
                    <div class="row ms-1 my-3 mt-2 fw-medium">Community Data and Insights</div>
                    <div class="row ms-1 my-3 fw-medium">Narrative Change</div>
                    <div class="row ms-1 my-3 fw-medium">Policy Change</div>
                    <div class="row ms-1 my-3 fw-medium">Running a non-profit</div>
                    <div class="row ms-1 my-3 fw-medium">Explore all</div>
                </div>
                <div class="col">
                    <p class="mb-3   fs-5 fw-semibold border-bottom pb-3">LOOKING FOR MORE?</p>
                    <div class="row ms-1 my-3 mt-2 fw-medium">Post in community</div>
                    <div class="row ms-1 my-3 fw-medium">Chat with us</div>
                    <div class="row ms-1 my-3 fw-medium">Call us</div>
                    <div class="row ms-1 my-3 fw-medium">Know more about cllctivly</div>
                    <div class="row ms-1 my-3 fw-medium">Work with us</div>
                </div>
            </div>
        </div>
        <!-- <div class="col">
            <div class="row mt-5">
                <h3>EVENTS</h3>
                <div class="row ms-1 my-1">Event Calendar</div>
                <div class="row ms-1 my-1">Events powered by cllctivly</div>
                <div class="row ms-1 my-1">View all Events</div>
            </div>
            <div class="row mt-5">
                <h3>CONTENT</h3>
                <div class="row ms-1 my-1">Community Data and Insights</div>
                <div class="row ms-1 my-1">Narrative Change</div>
                <div class="row ms-1 my-1">Policy Change</div>
                <div class="row ms-1 my-1">Running a non-profit</div>
                <div class="row ms-1 my-1">Explore all</div>
            </div>
        </div>
        <div class="col">
            <div class="row mt-5">
                <h3>COMMUNITY FORUM</h3>
                <div class="row ms-1 my-1">Feed</div>
                <div class="row ms-1 my-1">News and updates</div>
                <div class="row ms-1 my-1">Discussion groups</div>
            </div>
            <div class="row mt-5">
                <h3>LOOKING FOR MORE?</h3>
                <div class="row ms-1 my-1">Post in community</div>
                <div class="row ms-1 my-1">Chat with us</div>
                <div class="row ms-1 my-1">Call us</div>
                <div class="row ms-1 my-1">Know more about cllctivly</div>
                <div class="row ms-1 my-1">Work with us</div>
            </div>
        </div> -->
        <!-- <div class="col">
            <h3>COMMUNITY FORUM</h3>
            <div class="row">Feed</div>
            <div class="row">News and updates</div>
            <div class="row">Discussion groups</div>
        <div class="row">
            <h3>LOOKING FOR MORE?</h3>
            <div class="row">Post in community</div>
            <div class="row">Chat with us</div>
            <div class="row">Call us</div>
            <div class="row">Know more about cllctivly</div>
            <div class="row">Work with us</div>
        </div> -->
    </div>
</div>
</div>

{% endblock content %}